In [1]:
words = ['a','b','c']

for i,word in enumerate(words):
    print(str(i) + ':' + word)

0:a
1:b
2:c

In [2]:
import numpy as np
import pandas as pd

df_data = pd.read_csv('./data.csv')
df_data.head(5)

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [8]:
# 指定替换次数
text = "Hello, World! World is great!"
new_text = text.replace("World", "Python")
print(new_text)  # 输出: Hello, Python! Wython is great!

Hello, Python! Python is great!

In [10]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
numbers.sort(reverse=True)
print(numbers)  # 输出: [9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

In [11]:
t = ('1', 2)

In [12]:
print(t)

('1', 2)

In [13]:
print(type(t))

<class 'tuple'>

0

In [14]:
l = [1, 2, 3]
print(type(l))

<class 'list'>

In [19]:
l.append(4)

In [20]:
l

[1, 2, 3, 4]